name: Trigger Portainer Webhook

on:
  push:
    branches:
      - main
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Call Portainer Webhook
        run: |
          curl -X POST "${{ secrets.PORTAINER_WEBHOOK }}"
